@charset "UTF-8";

div.div1 {
    margin: 40px 0 20px 0;
}

div.div2 > button {
    margin-right: 40px;
}

hr {
    margin: 30px 0;
    height: 2px;
    background-color: gold;
    border: none; /* 이걸 하지 않으면 자동으로 테두리가 생긴다. */
}