body{
    padding: 20px;
 }
 
 div.display {
    display: inline-block;
    border: solid 1px gray;
    width: 10%;
    margin: 10px; 
 }
 
 div#fruitDisplay {
    border: solid 1px blue;
    width: 15%;
    margin: 10px; 
 }
 
 hr {
    border: solid 1px red;
 }